<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.brunodles.githubpopular.app">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".application.GithubApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.repository_list.RepositoryListActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

        <activity android:name=".view.pull_request_list.PullRequestsActivity"/>
    </application>

</manifest>
